@page "/urlap2"
@using BlazorApp.Model
@rendermode InteractiveServer
@using NetcodeHub.Packages.Components.Validations.OnInput

<h3>Űrlap Editform</h3>
<EditForm class="col-md-4 mb-3" method="post" Model="newcustomer" FormName="CreateCustomer" OnValidSubmit="AddCustomer" Enhance>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="md-3">
        <label for="Vname" >Vezetéknév:</label>
        <InputText id="Vname" @bind-Value="newcustomer.Fname" class="form-control"/>
        <ValidationMessage For="()=>newcustomer.Fname" class="text-danger"/>
    </div>

    <div class="md-3">
        <label for="Lname">Keresztnév:</label>
        <InputText id="Lname" @bind-Value="newcustomer.Lname" class="form-control" />
        <ValidationMessage For="()=>newcustomer.Lname" class="text-danger" />
    </div>

    <div class="md-3">
        <label for="email">E-mail:</label>
        <InputText id="email" @bind-Value="newcustomer.Email" class="form-control" />
        <ValidationMessage For="()=>newcustomer.Email" class="text-danger" />
    </div>

    <div class="md-3">
        <label for="ph">Tel:</label>
        <InputText id="ph" @bind-Value="newcustomer.PhoneNumber" class="form-control" />
        <ValidationMessage For="()=>newcustomer.PhoneNumber" class="text-danger" />
    </div>

    @* <div class="md-3">
        <label for="pss">Jelszó:</label>
        <InputText id="pss"  @bind-Value="newcustomer.Password" class="form-control" />
        <ValidationMessage For="()=>newcustomer.Password" class="text-danger" />
    </div> *@

    <div class="md-3 mb-3">
        <label for="pss">Jelszó:</label>
        <Text id="pss"  @bind-Value="newcustomer.Password" class="form-control" />
        <ValidationMessage For="()=>newcustomer.Password" class="text-danger" />
    </div>

    <div class="md-3">
        <FloatingText id="pss" Label="Jelszó" @bind-Value="newcustomer.Password" class="form-control" />
        <ValidationMessage For="()=>newcustomer.Password" class="text-danger" />
    </div>


    <div class="md-3">
        <label for="bt">Szül. idő:</label>
        <InputDate id="bt" @bind-Value="newcustomer.BirthDay" class="form-control" />
        <ValidationMessage For="()=>newcustomer.BirthDay" class="text-danger" />
    </div>

    <div class="md-3">
        <label for="price">Ár:</label>
        <InputNumber id="price" @bind-Value="newcustomer.Price" class="form-control" />
        <ValidationMessage For="()=>newcustomer.Price" class="text-danger" />
    </div>

    <div>
        <button type="submit" class="btn btn-primary mt-3">Hozzáad</button>
    </div>
</EditForm>

<div class="col-md-10 mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Név</th>                
                <th>E-mail</th>
                <th>Tel:</th>
                <th>Szül. idő</th>
                <th>Ár</th>
                <th>Jelszó</th>
               
            </tr>
        </thead>

        <tbody>
            @foreach (var item in CList)
            {
                <tr>
                    <td>@item.GetFullName()</td>                    
                    <td>@item.Email</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.BirthDay.ToShortDateString()</td>
                    <td>@item.Price</td>
                    <td>@item.Password</td>
                    <td>@item.Age()</td>
                </tr>
            }
        </tbody>
    </table>
</div>



@code {
    public Customer newcustomer = new();

    private List<Customer> CList = new();

    public void AddCustomer()
    {
        CList.Add(newcustomer);
        newcustomer = new Customer();
    }

}
